body {
  background-color: $primary-green;
}

.login {
  border-top: 15px solid $primary-yellow;

  &__heading {
    height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    &--heading {
      
      text-transform: lowercase;
      font-size: 4.6rem;
      color: $primary-yellow;
      font-family: "Montserrat";
      font-weight: 600;
      text-shadow: 0 1rem 2rem rgba(56, 56, 56, 0.95);
    }

    &--image {
      object-fit: contain;
      width: 290px;
    }

    &--google {
      margin-top: 14rem;
      font-weight: bold;
    }
  }

  &__form {
    position: absolute;
    top: 68%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}


.login__form {
  width: 290px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  

  &__input {
    margin: 10px !important;
    color: $primary-blue !important;
    background-color: #eeeeee;
    width: 100%;
  }

  &__button {
    align-self: flex-start;
    font-size: 1.3rem !important;
  }
}
