body {
  background-color: $primary-green;
}

.login {
  height:100vh;
  display: flex;
  flex-direction: column;


  &__heading {
    background-color: $primary-green;
    height: 70%;
    width: 100vw;
    position: relative;
    
    &--heading {
      text-transform: lowercase;
      font-size: 5.6rem;
      position:  absolute;
      top: 90%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white !important;
      letter-spacing: .3rem;
    }

    &--image {
      object-fit: contain;
      width: 290px;
    }

    &--google {
      margin-top: 14rem;
      font-weight: bold;

    }
  }

  &__google {
    height: 30%;
    width: 100vw;
    margin: 0 auto;
    position: relative;

    &--button {
      position:  absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
