body {
  background-color: $primary-green;
}

.login {
  width: 100vw;
  height:100vh;
  position:relative;

  &__heading {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin: 0 auto;
    width:90%;
    
    &--heading {
      text-transform: lowercase;
      font-size: 6.5rem;
      color: $primary-yellow;
      letter-spacing: 1.1rem;
      font-family: "Poppins";
      font-weight: 600;
      text-shadow: 0 1rem 2rem rgba(163, 163, 163, 0.45);
      margin-right: -1.7rem;
    }

    &--image {
      object-fit: contain;
      width: 290px;
    }
  }

  &__form {
    position: absolute;
    top: 68%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}


.login__form {
  // border: 1px solid white;
  width: 290px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  

  &__input {
    margin: 10px !important;
    color: $primary-blue !important;
    background-color: #eeeeee;
   // font-size: 24rem !important;
    width: 100%;
  }

  &__button {
    margin-bottom: 10px !important;
    align-self: flex-start;
    font-size: 1.3rem !important;
  }
}
