.deposit__table {
  width: 300px;
  margin-top: 10px;
  max-height: 600px !important;
}

.tabs {
  width: 300px;
  margin: 60px auto;
}

.MuiDataGrid-row {
  font-weight: bold;

  &:nth-child(odd) {
    background-color: rgb(235, 235, 235);
    transition: 0.15s;
  }

  &:nth-child(even) {
    background-color: rgb(210, 210, 210);
    transition: 0.15s;
  }
  &:hover {
    background-color: $primary-yellow !important;
  }
}

.MuiDataGrid-footerContainer {
  background-color: white;
}

.MuiDataGrid-columnHeaders {
  background-color: white;
}

.css-1jbbcbn-MuiDataGrid-columnHeaderTitle {
  font-weight: bold !important;
}

// .MuiSvgIcon-root {
//   color: green;
// }
