.heading {
  color: $primary-yellow;
  font-family: $primary-font;
  font-weight: bold ;
  text-shadow: 1rem 1rem 2rem rgba(233, 233, 233, 0.45);
}

.green-text { color: $primary-green; }

.blue-text { color: $primary-blue; }

.orange-text { color: $primary-orange }

.red-text { color: $primary-red }

.highlighted-text { 
  background-color: $primary-green;
  box-shadow:2px 0 0 $primary-green, -2px 0 0 $primary-green;
  padding: 2px 0; }

.emphasized {
  font-weight: 600;
  font-style: italic;
  color: rgb(46, 46, 46)
}

.mp { padding: 5px; }
