$primary-green: #6fef71;
$primary-blue: #80c5ff;
$primary-orange: #ffa043;
$primary-yellow: #ffd345;
$primary-red: #ff4a4a;

$primary-green-dark: #4da54f;

$primary-font: "Roboto";
$secondary-font: "Lato";
